*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: "Roboto Cn", sans-serif;
    
}
p{
    margin-bottom: 0;
}
a{
	text-decoration: none;
	color: #eee;
}

header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center no-repeat;
	background-size: cover;
	position: relative;
  overflow: hidden;
}
.content {
      width: 94%;
      margin:  auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}
/*.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}*/

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
    
    width: 100%;
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
    
}
nav.black {
  background: rgba(0,0,0,0.8);
  height: 100px;
  padding: 10px 100px;
}



.brand{
	/*font-size: 3rem;
	font-weight: 300;*/
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

/*.brand span{
	color: crimson;
}*/

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
    font-family: 'El Messiri', sans-serif;
    
   
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #6EC1B5;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
    
}


.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
    
}
nav ul li a:hover{
    color: aliceblue;
    text-decoration: none
}
nav #langu li a, .logo{
    margin:0 2rem;
   }

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
       
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li,.link-con ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 1.5rem;
	}

	
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}
/* end header */

/* start all section*/
.sectin{
    text-align: center;
    color: #04837B;
    /*font-family: 'Markazi Text', serif;*/
    font-family: 'Spirit Of Doha', sans-serif;

}
.title h4{
    font-size: 20px;
}

 .title h2{
    margin-top: 3rem;
    font-size: 40px;
    font-family: 'El Messiri', sans-serif;
    color: #154F69;
}

.pragraph p{
    font-size: 30px;
    margin: 1rem 10%;
    
    
    
}
.ourserver{
    background-color: #04837f
}

.ourserver .title h2{
    
    color: #eee;
    
}.ourserver .title h4{
    
    color: #ecfbfb;
    
}
.section h4:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section h4:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #04837B;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}

.single-service {
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	-webkit-transition: .3s;
	transition: .3s;
	padding: 30px 20px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.16);
    background-color: #ecfbfb;
    border: .5px solid #6EC1B5;
    margin-top:30px;
    
}
.single-service:before {
	position: absolute;
	width: 0;
	height: 0;
	background-color: #6EC1B5;
	left: 0;
	top: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:after {
	position: absolute;
	width: 0;
	height: 0;
	background-color: #1F3861;
	right: 0;
	bottom: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover:after,
.single-service:hover:before {
	width: 50%;
	height: 2px;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover {
	box-shadow: 5px 10px 50px 0 rgba(0, 0, 0, 0.20)
}
.single-service i.fa {
	font-size: 20px;
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	line-height: 60px;
	margin-bottom: 30px;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover i.fa {
	background-color: #1F3861;
	color: #fff;
	border-color: #1F3861;
	border-radius: 0;
}
.single-service h4 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	text-transform: capitalize;
     
}
.single-service p {
	font-size: 15px;
	line-height: 1.8;
    color: #154F69;
}.single-service .btn {

margin-bottom: 20px
}


/* our works */

ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters > li > a:hover{
    background-color: #e6e9ed;
}

ul.filters > li.active > a{
    color: #fff;
    background-color: #6EC1B5;
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67,78,94,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color :#fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(83, 145, 152);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -40px;
    font-size: 0.9rem;
   /* background-color: #1F3861;*/
          background: rgb(67, 119, 136);

    color: #ecfbfb;
    border: 1px solid #eee;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
    
}

.card-btn:hover{
    /*background-color: #6EC1B5;*/
  background: -webkit-linear-gradient(45deg, #1F3861, #6EC1B5);
  background: -o-linear-gradient(45deg, #1F3861, #6EC1B5);
  background: -moz-linear-gradient(45deg, #1F3861, #6EC1B5);
  background: linear-gradient(45deg, #1F3861, #6EC1B5);
    left: 0;
    color: #fff;
}

.line{
    border: 4px solid #83D2DB;
}

/* تواصل معنا */
/*---------------------------------------------*/

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/




.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 15px 90px 15px;
}


/*------------------------------------------------------------------
[  ]*/







/*------------------------------------------------------------------
[  ]*/

.wrap-input2 {
  width: 70%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}


.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(45deg, #1F3861, #6EC1B5);
  background: -o-linear-gradient(45deg, #1F3861, #6EC1B5);
  background: -moz-linear-gradient(45deg, #1F3861, #6EC1B5);
  background: linear-gradient(45deg, #1F3861, #6EC1B5);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(-135deg, #1F3861, #6EC1B5);
  background: -o-linear-gradient(-135deg, #1F3861, #6EC1B5 );
  background: -moz-linear-gradient(-135deg, #1F3861, #6EC1B5);
  background: linear-gradient(-135deg, #1F3861, #6EC1B5);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

 

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  

}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
      width: 100%;
      
  }
}




/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.addres{
    margin-top: 50px;
}.addres h3{
    font-size: 25px
}.addres .add-ne{
  font-size: 20px;
    text-align: right;
    margin: 0 20%;
    color: #1F3861;
    font-family: sans-serif;
}.link-con ul li{
    color: black;
    text-align: left;
    margin:0 10px
}
.link-con ul li{
    list-style: none;}
.link-con ul {
    display: inline-flex;
}.link-con ul li a i{
    color:  #6EC1B5;
}

@media (max-width: 576px) {
  .addres{
margin-top:-50px;       
    width: 100%;
      
  }
}

/* footer */

footer p {
    color: #999;
    line-height: 25px;
    
}
footer h2,h3{
    color: #1F3861;
}
footer h2 {
    font-size: 18px;
}
.footer-top{
    background: #04837B;
    padding: 80px 0;
}
.segment-one h2{
    color: #1F3861;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    color: #1F3861;
    font-family: Poppins;
}
footer .segment-two h2::before{
content:  '|';
    color: #c65039;
    padding-right: 10px;
}

footer .segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none
}
footer .segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0,3);
    line-height: 40px
}

footer .segment-two ul li a{
    color: #999;
    text-decoration: none;
}
footer .segment-three h2{
    color: #1F3861;
    font-family: Poppins;
    text-transform: uppercase;
}
footer .segment-three h2::before{
content:  '|';
    color: #c65039;
    padding-right: 10px;
}
footer .segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
footer .segment-three a i{
    font-size: 20px;
    color: #1F3861;
    padding: 10px 12px;
}
footer .segment-four h2{
    color: #1F3861;
    font-family: Poppins;
    text-transform: uppercase;
}
footer .segment-four h2::before{
content:  '|';
    color: #c65039;
}
footer .segment-four form input[type=submit]{
background: rgb(67, 119, 136);
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: aliceblue;
    height: 25px
}footer .segment-four form input[type=submit]:hover{
          background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(-135deg, #1F3861, #6EC1B5);
  background: -o-linear-gradient(-135deg, #1F3861, #6EC1B5 );
  background: -moz-linear-gradient(-135deg, #1F3861, #6EC1B5);
  background: linear-gradient(-135deg, #1F3861, #6EC1B5);
    
    
}
.footer-bottom-text{
    text-align: center;
    background: #78bfbc;
    line-height: 30px;
    font-size: 20px;
    color: aliceblue
}

/* responsive css */
@media only screen and (min-width:768px){
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0;
    }
}